{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for group in productGroups %}
            <div class="row mt-3">
                <div class="col">
                    <div class="product-cell">
                        <div>{{ group.products[0].name }}</div>
                        <div>{{ group.products[0].price }}</div>
                    </div>
                    {% for product in group.products[1:] %}
                        <div class="product-cell">
                            +
                        </div>
                        <div class="product-cell">
                            <div>{{ product.name }}</div>
                            <div>{{ product.price }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-1 text-center">
                    =
                </div>
                <div class="col-1 text-center">
                    {{ group.sum }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}